
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---COLORS---*/

:root {
    --Very-Dark-Grayish-Blue: #48556a;
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: #ecf2f8;
}

body {
    font-family: "Manrope",sans-serif;
    font-size: 15px;
}



